<div class="list-group" data-no="<%=data['no']%>">
	<div class="list-tuple">
		<div class="list-item no-item"><%=index%></div>
		<div class="list-item name-item"><%=data['name']%></div>
		<div class="list-item com-item list-disabled"><%=data['companyName']%></div>
		<div class="list-item class-item list-disabled"><%=data['identifier']%></div>
		<div class="list-item email-item list-disabled"><%=data['email']%></div>
		<div class="list-item phone-item"><%=data['telNo']%></div>					
	</div>
</div>