<%
	for(var i = 0; i < data.length; i++){
		var vo = data[i];	
%>
<div class="list-group" data-no="<%=vo.no%>">	
	<div class="list-tuple">
		<div class="list-item no-item"><%=index + i%></div>
		<div class="list-item customer-item"><%=vo.userName%></div>
		<div class="list-item title-item"><%=vo.title%></div>
		<div class="list-item status-item" data-no="<%=vo.statusNo%>"><%=vo.statusName%></div>
		<div class="list-item answer-item"><%=vo.answerCount%></div>						
	</div>
</div>
<%
	}
%>